hw/db/
hw/quartus/.qsys_edit/
hw/incremental_db/
hw/*pin_model_dump.txt
hw/output_files/*
!hw/output_files/*.sof
hw/*.qws
*~
*.bak
sw/nios/**/*.d
sw/nios/**/*.o
sw/nios/**/*.a
sw/nios/**/*.elf
sw/nios/**/*.map
sw/nios/**/*.objdump
sw/nios/**/.force_relink
hw/simulation/modelsim/work/
hw/simulation/modelsim/*.wlf
